<!-- header.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Site</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <h1>Booking Site</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
            <a href="/users/login">Login</a>
        </nav>
    </header>
</body>

</html>
