<%- include('partials/headers'); -%>

<div class="container" id="booking-success">
  <div class="container">
    <div class="container" style="text-align: center;">
      <h1>Booking successful!</h1>
      <p>Your booking ID is: <%= bookingId %></p>
      <a href="/users/login"><i class="container"></i>Login</a>

      <div style="margin: 0 auto; width: 50%;">
        <img src="/public/images/catimage.png" alt="Cat Image">
      </div>
    </div>
  </div>
</div>

<%- include('partials/footers'); -%>
