<%- include('partials/headers') %>

<div class="container"><img src="/public/images/failcat.png" alt="Cat Image"></div>
<p class="container"><a href="/bookings/create"><i class="container"></i>Create a booking!</a></p>




<%- include('partials/footers') %>